.contact {
  margin: 100px 16px;
}
.contact-title {
  text-align: center;
  margin-bottom: 30px;
}
.contact-title h1 {
  color: #262626;
  margin-bottom: 8px;
}
.form-container {
  background: transparent;
  max-width: 550px;
  margin: auto;
}
.form {
  padding-bottom: 16px;
  display: block;
  width: 100%;
}
.form-name, .form-email, .form-message {
  position: relative;
}
.form-name {
  content: "\f007";
  color: #262626;
}
.form-email {
  content: "\f1d8";
  color: #262626;
}
.form-message {
  content: "\f0e0";
  color: #262626;
}
.form-name::before, .form-email::before, .form-message::before {
  font-family: 'fontAwesome';
  position: absolute;
  top: 10px;
  left: 0;
}
.form input {
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid #444;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  outline: none;
  margin-top: 16px;
  background-color: transparent;
  position: relative;
  padding: 10px 16px 10px 30px;
}
.form input:focus, .form textarea:focus, .form input:hover, .form textarea:hover {
  border-color: #666;
}
.form textarea {
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid #444;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  outline: none;
  margin-top: 16px;
  height: 150px;
  background-color: transparent;
  padding: 10px 16px 10px 30px;
}
.form a {
  border: 1px solid #444;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  padding: 10px 30px;
  outline: none;
  margin-top: 30px;
  cursor: pointer;
  background-color: lightblue;
  text-transform: uppercase;
  font-size: 16px;
  color: #fff;
  display: inline-block;
  text-decoration: none;
}
.center-align {
  text-align: center;
}







































*.menu-bar
{   background: #FFFFFF;
    text-align: center;
}

.menu-bar ul
{   display:inline-flex;
    list-style: none;
    color:#000000;
}

.menu-bar ul li
{
    width:120px;
    margin:15px;
    padding: 10px;
}

.menu-bar ul li a 
{
    text-decoration: none;
    color:#000000;
    
}

.active, .menu-bar ul li:hover
{
    background: #89CFF0;
    border-radius: 2px;
    
}

.sub-menu-1
{
    display: none;
}

.menu-bar ul li:hover .sub-menu-1
{
    display: block;
    position: absolute;
    background: #89CFF0;
    margin-top: 15px;
    margin-left: -15px;
}

.menu-bar ul li:hover .sub-menu-1 ul
{
    display: block;
    margin: 10px;
}

li{
    color: white;
    font-size: 20px;
}


